nav {
    display: flex;
    flex-direction: row;
    float: right;
    padding: 3;
    margin-right: 10px;
    margin-top: 66px;
    position: absolute;
    z-index: 1;
    
}

body {
   background-color: beige;
}

footer {
    margin-top: 30px;
}