header {
 display: flex;
 justify-content: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 background-image: linear-gradient(0.25turn, lightblue, lightgreen, lightblue, lightgreen, lightblue, lightgreen, lightblue);
   
}